input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.931), rgb(248, 124, 0));
}

#totalDays {
    border: .5px solid rgba(241, 83, 31, 0.814);
    width: 30%;
    height: 8%;
    text-align: center;
    margin-left: 200px;
}

input {
    border: 1px solid rgba(241, 83, 31, 0.814);
}

select {
    border: 1px solid rgba(241, 83, 31, 0.814);
}







.nav-link {
    color: rgb(235, 246, 255);
}

.nav-link:hover {
    color: aliceblue;
    font-weight: bold;
}

.bg-img {
    background-image: url("./mainbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-shade {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.info {
    border: 2px solid rgb(255, 244, 244);
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    margin-top: -350px;
}

.form {
    margin-top: 20%;
}



.sec2 {
    background-image: linear-gradient( rgba(255, 0, 0, 0), rgb(38, 38, 39));

}

li a {
    text-decoration: none;
    color: white;
}

img{
    transition: transform .2s;
}

img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 991px) and (min-width: 434px) {



    nav {
        background-color: rgb(238, 193, 110);
    }

    .bg-img {
        background-image: url("./mainbg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-shade {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;

    }

    .sec2 {
        background-image: linear-gradient( rgba(255, 0, 98, 222));
        text-align: center;
        /* width: 100%; */
        /* margin-left: 7px; */

    }

    .form {
        margin-top: 30%;
        text-align: center;
    }

    .bgtxt {
        margin-top: 200px;
    }

    .marq {
        width: 80%;

    }

    .info {
        margin-top: -550px;
        /* width: 300px; */

        text-align: center;


    }

    #checkInDate {

        margin-top: 10px;
    }

    #checkOutDate {

        margin-top: 10px;
    }

    #txtMob {
        margin-top: 10px;
    }

    #txtEml {
        margin-top: 10px;
    }

    #txtFname {

        margin-top: 10px;
    }

    #txtLname {

        margin-top: 10px;
    }

    .bgtxt {
        text-align: center;
        padding: 0px;
    }

    

    #totalDays {
        margin-left: 110px;
        
    }

    option {
        width: 100%;
    }

}




/* 428px    */


@media only screen and (max-width: 428px) {
    nav {
        background-color: rgb(238, 193, 110);
    }

    .bg-img {
        background-image: url("./mainbg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-shade {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;

    }

    .sec2 {
        background-image: linear-gradient(rgba(255, 0, 98, 222));
        text-align: center;
        /* width: 100%; */
        /* margin-left: 7px; */

    }

    .form {
        margin-top: 30%;
        text-align: center;
    }

    .bgtxt {
        margin-top: 200px;
    }

    .marq {
        width: 80%;

    }

    .info {
        margin-top: -550px;
        /* width: 300px; */

        text-align: center;


    }

    #checkInDate {

        margin-top: 10px;
    }

    #checkOutDate {

        margin-top: 10px;
    }

    #txtMob {
        margin-top: 10px;
    }

    #txtEml {
        margin-top: 10px;
    }

    #txtFname {

        margin-top: 10px;
    }

    #txtLname {

        margin-top: 10px;
    }

    .bgtxt {
        text-align: center;
        padding: 0px;
    }



    #totalDays {
        margin-left: 110px;
    }

    option {
        width: 100%;
    }

}